<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> thucphamsach@gmail.com</li>
              <li> Giao hàng Miễn phí cho tất cả Đơn hàng 100k</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img src="../../../../assets/img/vietnam.png" alt="" style="width: 27px; height: 14px">
              <div>Tiếng việt</div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <li><a href="#">Tiếng việt</a></li>
                <li><a href="#">Tiếng anh</a></li>
              </ul>
            </div>
            <div class="header__top__right__auth" *ngIf="isLoggedIn == false; else block">
              <a role="button" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i> Đăng nhập</a>
            </div>
            <ng-template #block>
              <div class="header__top__right__auth">
                <i class="far fa-user-circle"></i> <span class="text-dark font-weight-bold">&nbsp;{{user.fullName}}</span>
              </div>
              <div class="header__top__right__auth">
                <a role="button" (click)="logout()">&nbsp;&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="./#"><img src="../../../../assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="./#">TRANG CHỦ</a></li>
            <li><a href="/list-goods">CỬA HÀNG</a></li>
            <li><a href="#">CHI TIẾT</a>
              <ul class="header__menu__dropdown">
                <li><a href="/bill-goods">Giỏ hàng</a></li>
                <li><a href="/check-out">Thủ tục thanh toán</a></li>
                <li><a href="/blog">Bài viết</a></li>
              </ul>
            </li>
            <li><a href="/contact">LIÊN HỆ</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
          </ul>
          <div class="header__cart__price">Mục: <span>150.00 VNĐ</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4 class="font-weight-bold">Đăng nhập</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
            <div class="form-group">
             <input type="text" class="form-control" formControlName="username"
                                                 placeholder="Nhập tên tài khoản của bạn...">
            </div>
            <div class="form-group">
           <input [type]="inputType" class="form-control" formControlName="password"
                                                    placeholder="Mã mật khẩu...">
            </div>
            <div class="form-group d-flex justify-content-start">
              <input type="checkbox"  class="mt-1" (click)=displayPassword()>&nbsp;&nbsp;Hiển thị mật khẩu
            </div>
            <div class="form-group" *ngIf="errorMessage != ''">
              <p role="alert" class="alert alert-danger">{{errorMessage}}</p>
            </div>
            <button type="submit" class="site-btn form-control" style="background-color: #7fad39;">Đăng nhập</button>
          </form>

          <div class="text-center text-muted delimiter">Hoặc đăng nhập qua</div>
          <div class="d-flex justify-content-center social-buttons">
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                    title="Twitter">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                    title="Facebook">
              <i class="fab fa-facebook"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                    title="Linkedin">
              <i class="fab fa-linkedin"></i>
            </button>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <div class="signup-section">Bạn chưa là thành viên? <a href="#" class="text-info"> Đăng ký</a>.</div>
        </div>
      </div>
    </div>

  </div>
</div>
